<script lang="ts">
import { defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';
import WipPage from '@/components/wip/WipPage.vue';

export default defineComponent({
  name: 'PortfolioPage',
  components: { WipPage },
  setup() {
    const { t } = useI18n({
      inheritLocale: true,
      useScope: 'parent',
    });

    return { t };
  },
});

</script>
<template>
  <wip-page>
  </wip-page>
</template>
<style>
</style>
