<script lang="ts">
import { defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';
import AboutPage from '@/components/about/AboutPage.vue';
import PortfolioPage from '@/components/portfolio/PortfolioPage.vue';
import ContactPage from '@/components/contact/ContactPage.vue';

/* eslint-disable-next-line no-shadow */
enum sections {
  about = 'about',
  portfolio = 'portfolio',
  contact = 'contact',
}

let selectedSection: sections;

export default defineComponent({
  name: 'HomePage',
  components: { ContactPage, PortfolioPage, AboutPage },
  setup() {
    const { t } = useI18n({
      inheritLocale: true,
      useScope: 'global',
    });

    return { t };
  },
  data() {
    return {
      publicPath: process.env.BASE_URL,
      sections,
      selectedSection,
      videoFinished: false,
    };
  },
  methods: {
    downloadCV() {
      window.open(`${this.publicPath}vgit_van_gelder_thomas_resume.pdf`);
    },
    onNavigate(section: sections) {
      this.selectedSection = section;

      setTimeout(() => {
        this.scrollToSelectedSection();
      }, 100);
    },
    onVideoEnded() {
      this.videoFinished = true;
    },
    scrollToSelectedSection() {
      const el: Element = this.$refs.selectedSection as Element;

      if (el) {
        el.scrollIntoView({ behavior: 'smooth' });
      }
    },
    scrollToHomePage() {
      document?.getElementById('app')
        ?.scrollIntoView({ behavior: 'smooth' });
    },
  },
});
</script>

<template>
  <div class="home-container section">
    <div>
      <div class="home-container__logo-container"
           :class="{ 'finished': videoFinished }">
        <video class="home-container__logo-container__logo"
               v-on:ended="onVideoEnded()"
               autoplay
               muted
               playsinline
               preload>
          <source src="../../assets/vgit_logo.mov" type="video/quicktime">
          <source src="../../assets/vgit_logo.webm" type="video/webm">
          Sorry, your browser doesn't support embedded videos.
        </video>
      </div>
      <div class="bio"
           :class="{ 'displayed': videoFinished }">
        <div class="bio__container">
          <span>Hey there,</span><br/>
          <span>I'm Thomas van Gelder</span><br/>
          <span>a full-stack web developer based in Brussels.</span><br/>
          <span>Don't hesitate to
          <a href="#" @click="downloadCV()">
            download</a> my resume.</span>
        </div>
      </div>
      <div class="nav"
           :class="{ 'displayed': videoFinished }">
        <div class="nav__links">
          <!--        <a href="javascript:void(0)"-->
          <!--           :class="{ 'active': selectedSection === sections.about }"-->
          <!--           @click="onNavigate(sections.about)">-->
          <!--          {{ t('homepage.about') }}-->
          <!--        </a>-->
          <!--        <a href="javascript:void(0)"-->
          <!--           :class="{ 'active': selectedSection === sections.portfolio }"-->
          <!--           @click="onNavigate(sections.portfolio)">-->
          <!--          {{ t('homepage.portfolio') }}-->
          <!--        </a>-->
<!--          <a href="javascript:void(0)"-->
<!--             :class="{ 'active': selectedSection === sections.contact }"-->
<!--             @click="onNavigate(sections.contact)">-->
<!--            {{ t('homepage.contact') }}-->
<!--          </a>-->
        </div>
        <div class="nav__icons">
          <a href="https://www.linkedin.com/in/vangelderthomas/"
             target="_blank"
             aria-hidden="true">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="https://wa.me/+32499393164"
             target="_blank"
             aria-hidden="true">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
          <a href="mailto:vangelderthomas@vgit.be"
             aria-hidden="true">
            <i class="fa-light fa-mailbox"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div v-show="selectedSection"
       class="navigation-container section"
       :ref="'selectedSection'">
    <div v-if="selectedSection === sections.about">
      <about-page>
      </about-page>
    </div>
    <div v-else-if="selectedSection === sections.portfolio">
      <portfolio-page>
      </portfolio-page>
    </div>
    <div v-else>
      <contact-page>
      </contact-page>
    </div>
    <div>
      <div class="scroll-top"
            @click="scrollToHomePage()"
            aria-hidden="true">
        <div class="scroll-top__mouse">
          <span class="scroll-top__mouse__mouse-button">&nbsp;</span>
        </div>
        <div class="scroll-top__text">
          <span>
            scroll top
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "./HomePage";
</style>
