.home-container {
  align-items: center;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;

  &__logo-container {
    margin: 4rem auto 0 auto;
    width: 80%;

    &__logo {
      width: 100%;
    }
  }

  &__logo-container.finished {
    animation: vgitLogoWidthResizing 0.3s ease-in-out;
    width: 60%;
  }

  .bio,
  .nav {
    opacity: 0;
  }

  .bio.displayed,
  .nav.displayed {
    opacity: 1;
    animation: fadeIn 0.8s ease-in-out;
  }

  .bio {
    font-size: 1.2rem;
    margin: 2rem auto 0 auto;
    width: 80%;

    &__container {
      span:first-child {
        color: var(--vgit-c-blue-light);
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 2rem;
        text-transform: uppercase;
      }

      span:nth-child(3) {
        color: var(--vgit-c-orange-light);
        font-weight: 700;
        font-size: 1.8rem;
      }
    }
  }

  .nav {
    margin: 3.5rem auto 0 auto;
    width: fit-content;

    &__links,
    &__icons {
      margin: 0 auto;
      position: relative;
      width: fit-content;

      a {
        color: var(--vgit-c-white-mute);
        font-weight: 300;
        font-size: 1.3rem;
        text-decoration: none;
      }

      a:nth-last-child {
        margin-right: 0;
      }

      a:hover {
        transition-duration: .6s;
        transition-timing-function: ease-out;
      }
    }

    &__links {
      a {
        margin: 1.5rem;
      }

      a:hover {
        color: var(--vgit-c-orange-light);
      }

      a:nth-child(2n):hover {
        color: var(--vgit-c-blue-light);
      }
    }

    &__icons {
      margin-top: 1rem;

      a {
        margin: 1rem;
      }

      a:hover {
        color: var(--vgit-c-blue-light);
      }

      a:nth-child(2n):hover {
        color: var(--vgit-c-orange-light);
      }
    }
  }

  @keyframes vgitLogoWidthResizing {
    0% {
      width: 80%;
    }
    100% {
      width: 60%;
    }
  }
}

.navigation-container {
  > div:first-child {
    align-items:center;
    display:flex;
    justify-content:center;
    max-height: 90vh;
    min-height: 90vh;
  }
  > div:last-child {
    align-items:center;
    display:flex;
    justify-content:center;
    max-height: 10vh;
    min-height: 10vh;
    text-align: center;
  }
}

.scroll-top {
  color: var(--vgit-c-white-mute);
  cursor: pointer;
  transition-duration: .8s;

  &__mouse {
    border-radius: 1rem;
    border: 1px solid var(--vgit-c-white-mute);
    height: 2rem;
    margin: 0 auto;
    position: relative;
    right: 0;
    transition-duration: .8s;
    width: 1.4rem;
    &__mouse-button {
      animation: scroll-top-animation 2s infinite alternate;
      background-color: var(--vgit-c-white-mute);
      border-radius: .1rem;
      height: .4rem;
      left: 50%;
      margin: 0 0 0 -.1rem;
      position: absolute;
      top: 10px;
      transition-duration: .8s;
      width: 0.1rem;
    }
  }
  &__text {
    font-size: .8rem;
    font-weight: 200;
    margin-top: .8rem;
    text-transform: uppercase;
  }
}

.scroll-top:hover {
  color: var(--vgit-c-black-mute);

  div:first-child {
    border-color: var(--vgit-c-black-mute);

    > * {
      background-color: var(--vgit-c-black-mute);
    }
  }
}

@keyframes scroll-top-animation {
  to {
    transform: translate(0, -4px) scale(1, 0.8);
  }
}

@media (min-width: 43rem){
  .home-container {
    &__logo-container {
      width: 60%;
    }

    &__logo-container.finished {
      animation: vgitLogoWidthResizing 0.3s ease-in-out;
      width: 50%;
    }

    .bio {
      margin: 6rem auto 0 auto;
      width: 60%;
    }

    @keyframes vgitLogoWidthResizing {
      0% {
        width: 60%;
      }
      100% {
        width: 50%;
      }
    }
  }

  .nav {
    &__links,
    &__icons {
      a:nth-last-child {
        margin-right: 0;
      }
    }

    &__links {
      a {
        margin: 3rem;
      }
    }
  }
}

@media (min-width: 62rem){
  .home-container {
    &__logo-container {
      margin: 3rem auto 0 auto;
      width: 33%;
    }

    &__logo-container.finished {
      animation: vgitLogoWidthResizing 0.3s ease-in-out;
      width: 25%;
    }

    .bio {
      margin: 2rem auto 0 auto;
      width: 35%;
    }

    @keyframes vgitLogoWidthResizing {
      0% {
        width: 33%;
      }
      100% {
        width: 25%;
      }
    }
  }
}

@media (min-width: 161rem){
  .home-container {
    &__logo-container {
      margin: 3rem auto 0 auto;
      width: 25%;
    }

    &__logo-container.finished {
      animation: vgitLogoWidthResizing 0.3s ease-in-out;
      width: 20%;
    }

    .bio {
      width: 30%;
    }

    @keyframes vgitLogoWidthResizing {
      0% {
        width: 25%;
      }
      100% {
        width: 20%;
      }
    }
  }
}
