<script lang="ts">
import { defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'WipPage',
  setup() {
    const { t } = useI18n({
      inheritLocale: true,
      useScope: 'parent',
    });

    return { t };
  },
  methods: {
  },
});

</script>
<template>
  <div class="under-construction">
    <div class="under-construction__container">
      <div>
        <i class="fa-thin fa-person-digging fa-10x under-construction-icon"></i>
        <div>
          <span class="under-construction-text">
            <b>Of of oof,</b><br/>this section is under construction...
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
@import "WipPage.scss";
</style>
