@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/thin.scss";
@import "./fontawesome/scss/light.scss";
@import "./fontawesome/scss/brands.scss";

:root {
  --vgit-c-white: #ffffff;
  --vgit-c-white-soft: #FFFAF6;
  --vgit-c-white-mute: #D6D8DC;

  --vgit-c-black: #17181A;
  --vgit-c-black-soft: #272522;
  --vgit-c-black-mute: #5F6166;

  --vgit-c-blue-light: #89A4C7;
  --vgit-c-blue-dark: #4F719E;
  --vgit-c-orange-light: #F5B17B;
  --vgit-c-orange-dark: #D0884C;

  --vgit-c-indigo: #2c3e50;

  --vgit-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vgit-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vgit-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vgit-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vgit-c-text-light-1: var(--vgit-c-black);
  --vgit-c-text-light-2: var(--vgit-c-black-soft);
  --vgit-c-text-dark-1: var(--vgit-c-white);
  --vgit-c-text-dark-2: var(--vgit-c-white-soft);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vgit-c-black);
  --color-background-soft: var(--vgit-c-black-soft);
  --color-background-mute: var(--vgit-c-black-mute);

  --color-border: var(--vgit-c-divider-dark-2);
  --color-border-hover: var(--vgit-c-divider-dark-1);

  --color-heading: var(--vgit-c-text-dark-1);
  --color-text: var(--vgit-c-text-dark-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: 'futura-pt', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  transition: color 0.5s, background-color 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;

  &__container {
    align-items:center;
    display:flex;
    font-family: 'futura-pt', 'Helvetica Neue', sans-serif;
    justify-content:center;
    min-height: 100vh;
    width:100%;
  }
}

a {
  color: var(--vgit-c-white-soft);
}

button {
  background: none;
  border: none;
  font-family: 'futura-pt', 'Helvetica Neue', sans-serif;
}

button:hover {
  cursor: pointer;
}

button.btn-primary {
  border: 1px solid var(--vgit-c-white-soft);
  color: var(--vgit-c-white);
  font-weight: 100;
  padding: .5rem 1rem;
  text-transform: uppercase;
}

button.btn-primary:hover {
}

label {
  margin-left: .5rem;
  text-transform: uppercase;
}

input,
textarea {
  background-color: var(--vgit-c-black-soft);
  border: none;
  box-sizing: border-box;
  color: var(--vgit-c-white-soft);
  margin: 8px 0;
  padding: 1rem .5rem;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: var(--vgit-c-white-mute);
  font-family: 'futura-pt', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

input ~ .input-border,
select ~ .input-border,
textarea ~ .input-border {
  background-color: var(--vgit-c-orange-dark);
  bottom: 9px;
  height: 1px;
  left: 0;
  position: absolute;
  width: 0;
}

input ~ .input-border.valid,
select ~ .input-border.valid,
textarea ~ .input-border.valid {
  background-color: var(--vgit-c-blue-dark);
  transition-duration: .2s;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:focus ~ .input-border,
select:focus ~ .input-border,
textarea:focus ~ .input-border {
  transition: .2s;
  width: 100%;
}

textarea {
  resize: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 43rem){
}

@media (min-width: 62rem){
}

@media (min-width: 82rem){
}
